In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("/Users/aline/Documents/live-preditiva/data/dataset_engajamento_clientes.csv", sep=",")
df.head()

  cliente_id        data  numero_interacoes
0       C001  2024-11-01                  0
1       C001  2024-11-06                  1
2       C001  2024-11-13                  5
3       C001  2024-11-17                  1
4       C001  2024-11-26                  5

In [17]:
# Recência = quantos dias se passaram desde a última interação do cliente até uma data de referência
# garantindo que a coluna é datetime
df["data"] = pd.to_datetime(df["data"])

# data atual (hoje)
hoje = pd.Timestamp.today().normalize()

# cálculo da recência
df["recencia_dias"] = (hoje - df["data"]).dt.days

In [18]:
df.head()

  cliente_id       data  numero_interacoes  recencia_dias
0       C001 2024-11-01                  0            465
1       C001 2024-11-06                  1            460
2       C001 2024-11-13                  5            453
3       C001 2024-11-17                  1            449
4       C001 2024-11-26                  5            440